# ~/.config/systemd/user/hgx11.service
# systemctl --user enable hgx11.service && systemctl --user start hgx11.service
[Unit]
Description=Starts Hyperion_Grabber_X11_QT.
After=graphical.target
After=network.target

[Service]    
Environment="DISPLAY=:0"
ExecStartPre=/usr/bin/bash -c "while ! xset q &> /dev/null; do sleep 1; done"
ExecStart=/usr/local/sbin/Hyperion_Grabber_X11_QT --address 192.168.2.213 --port 19444 --frameskip 1 --scale 48 --inactive 600 --redadjust "255,10,0" --greenadjust "75,210,0" --blueadjust "0,10,160"
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
